<footer>
    <div class="footer-inner">
        <div class="footer-socials">
            <a href="https://twitter.com/MartinBaunWorld" class="social-item" target="_blank">
		<img src="{{blog.host}}/static/images/twitter.png">
            </a>
            <a href="https://www.linkedin.com/in/martinbbb/" class="social-item" target="_blank">
		<img src="{{blog.host}}/static/images/linkedin.png">
            </a>
            <a href="https://www.youtube.com/@MartinBaun" class="social-item" target="_blank">
		<img src="{{blog.host}}/static/images/youtube.png">
            </a>
            <a href="https://www.reddit.com/user/MartinBaun/" class="social-item" target="_blank">
		<img src="{{blog.host}}/static/images/reddit.png">
            </a>
            <a href="https://medium.com/@martinbaun" class="social-item" target="_blank">
		<img src="{{blog.host}}/static/images/medium.png">
            </a>
        </div>
        <!-- Consider not to remove this as this is free and open source -->
        <p>Powered By StaticViking Copyright @ 2023 <a href="https://MartinBaun.com/blog/posts/staticviking-zeroconf-static-website-for-blogs-wikis">StaticViking Website</a></p>
    </div>
</footer>
