<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
    const nav = document.querySelector('.main-nav')
    const hamburger = document.querySelector('.hamburger-menu')
    hamburger.addEventListener('click', () => nav.classList.toggle('show-nav'))

    const observer = lozad();
    observer.observe();
    const posters = document.querySelectorAll('.blog-card-poster')
    if (posters) {
        posters.forEach(poster => {
            poster.addEventListener('load', (e) => e.target.parentElement.classList.remove('not-loaded'))
        })
    }
    const asideInner = document.querySelector('aside .aside-inner')
    let aside;
    function checkSidebarHeight() {
        const windowHeight = window.innerHeight;
        const sidebarHeight = asideInner.offsetHeight;
        console.log(document.body.getAttribute('data-page'));
        if (sidebarHeight > windowHeight) {
            asideInner.style.position = 'relative';
            aside.style.marginTop = '185px'
        } else {
            asideInner.style.position = 'sticky';
            aside.style.marginTop = '202px'
        }
    }
    if (asideInner !== null && document.body.getAttribute('data-page') !== 'post') {
        aside = document.querySelector('aside')
        // checkSidebarHeight()
        // window.addEventListener('resize', checkSidebarHeight)
    }
</script>
<script>
    let isDark = false

    if(localStorage.getItem('blog-theme')) {
        if (localStorage.getItem('blog-theme').includes('light')) {
            localStorage.setItem('blog-theme', 'light')
        } else {
            localStorage.setItem('blog-theme', 'dark')
        }
    } else {
        const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
        if (darkModeMediaQuery.matches) {
            localStorage.setItem('blog-theme', 'dark')
        } else {
            localStorage.setItem('blog-theme', 'light')
        }
    }

    if (localStorage.getItem('blog-theme') == 'dark') {
        isDark = true
        document.body.classList.add('dark-theme')
        document.querySelectorAll('img[data-dark]').forEach(img => {
            if (!img.src.includes('-white')) {
                setTimeout(() => img.src = img.src.replace(/(\.\w+)$/, '-white$1'), 100)
            }
        })
    } else {
        isDark = false
        document.body.classList.remove('dark-theme')
        document.querySelectorAll('img[data-dark]').forEach(img => {
            if (img.src.includes('-white')) {
                img.src = img.src.replace("-white", "");
            }
        })
    }

    const toggle = document.querySelector('.toggle')
    toggle.addEventListener('click', () => {
        if (isDark) {
            isDark = false
            document.body.classList.remove('dark-theme')
            localStorage.setItem('blog-theme', 'light')
            document.querySelectorAll('img[data-dark]').forEach(img => {
                if (img.src.includes('-white')) {
                    img.src = img.src.replace("-white", "");
                }
            })
        } else {
            isDark = true
            document.body.classList.add('dark-theme')
            localStorage.setItem('blog-theme', 'dark')
            document.querySelectorAll('img[data-dark]').forEach(img => {
                if (!img.src.includes('-white')) {
                    img.src = img.src.replace(/(\.\w+)$/, '-white$1');
                }
            })
        }
    })

    const page = document.body.getAttribute('data-page')
    if (page && page == 'listing') {
        document.querySelector('.blog-link').classList.add('active')
    }
    if (!location.pathname.includes('posts') && location.pathname.includes('about')) {
        document.querySelector('.about-link').classList.add('active')
    }
</script>