<nav class="main-nav">
    <div class="nav-inner">
        <a href="{{blog_url}}" class="logo">
            <img class="lozad" data-src="{{blog.host}}/{% if blog.logo %}{{ blog.logo }}{% else %}/static/images/logo.png{% endif %}" alt="">
        </a>
        <div class="nav-links">
            <a href="{{ blog.host }}">Blog</a>
            <a href="about">About</a>
            <a class="btn btn-blue" href="contact">Contact</a>
        </div>
        <div class="hamburger-menu">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
    </div>
</nav>
